* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  background-color: #060447;
  color: #fff38a; }

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif; }

.horizontal {
  display: flex;
  flex-direction: row; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "cards pictures" "years pictures" "naviguation naviguation";
  margin: 8% 11.5% 0 11.5%; }

.cards {
  grid-area: cards;
  position: relative; }
  .cards .card {
    position: absolute;
    width: 100%;
    transition: 0.2s ease-in-out; }
    .cards .card-1-left {
      transform: translateX(-30%);
      opacity: 0; }
    .cards .card-1-right {
      transform: translateX(30%);
      opacity: 0; }
    .cards .card-1-active {
      transform: translateX(0);
      opacity: 1; }
    .cards .card-2-left {
      transform: translateX(-30%);
      opacity: 0; }
    .cards .card-2-right {
      transform: translateX(30%);
      opacity: 0; }
    .cards .card-2-active {
      transform: translateX(0);
      opacity: 1; }
    .cards .card-3-left {
      transform: translateX(-30%);
      opacity: 0; }
    .cards .card-3-right {
      transform: translateX(30%);
      opacity: 0; }
    .cards .card-3-active {
      transform: translateX(0);
      opacity: 1; }
    .cards .card img {
      margin-bottom: 20px; }
    .cards .card h1 {
      margin-bottom: 10px;
      font-weight: 700; }
    .cards .card p {
      font-weight: 400;
      line-height: 30px; }
    .cards .card .description {
      width: 70%; }

.pictures {
  grid-area: pictures;
  width: 430px;
  overflow: hidden; }
  .pictures .picture {
    transition: 0.2s ease-in-out; }
    .pictures .picture-1-left {
      transform: translateX(-100%); }
    .pictures .picture-1-right {
      transform: translateX(100%); }
    .pictures .picture-1-active {
      transform: translateX(0%); }
    .pictures .picture-2-left {
      transform: translateX(-200%); }
    .pictures .picture-2-right {
      transform: translateX(0%); }
    .pictures .picture-2-active {
      transform: translateX(-100%); }
    .pictures .picture-3-left {
      transform: translateX(-300%); }
    .pictures .picture-3-right {
      transform: translateX(-100%); }
    .pictures .picture-3-active {
      transform: translateX(-200%); }

.years {
  grid-area: years;
  overflow: hidden;
  align-items: end; }
  .years div {
    width: 230px; }
  .years .year {
    transition: 0.2s ease-in-out;
    column-gap: 10px; }
    .years .year-1-left {
      transform: translateX(-100%);
      opacity: 0; }
    .years .year-1-right {
      transform: translateX(100%);
      opacity: 0; }
    .years .year-1-active {
      transform: translateX(0%);
      opacity: 1; }
    .years .year-2-left {
      transform: translateX(-200%);
      opacity: 0; }
    .years .year-2-right {
      transform: translateX(0%);
      opacity: 0; }
    .years .year-2-active {
      transform: translateX(-100%);
      opacity: 1; }
    .years .year-3-left {
      transform: translateX(-300%);
      opacity: 0; }
    .years .year-3-right {
      transform: translateX(-100%);
      opacity: 0; }
    .years .year-3-active {
      transform: translateX(-200%);
      opacity: 1; }

.naviguation {
  grid-area: naviguation;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
  padding-top: 60px; }
  .naviguation .arrows {
    margin: 20px; }
  .naviguation .progression {
    flex: 1;
    align-items: center;
    justify-content: space-between; }
    .naviguation .progression .bullet {
      width: 32px;
      height: 32px;
      background-color: #fff38a;
      border-radius: 50%;
      opacity: 0.3;
      transition: 250ms;
      transform-origin: left; }
    .naviguation .progression .line {
      height: 2px;
      flex: 1;
      background-color: #fff38a;
      opacity: 0.3;
      transition: 250ms;
      transform-origin: left; }

@media screen and (max-width: 965px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 5%; }
  #card-3 {
    position: relative; }
  #card-1, #card-2 {
    top: 0;
    left: 0; }
  .years {
    padding: 20px 0; } }

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .wrapper {
    margin: 3% 6% 0 6%; } }
